<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ifma.edu.com.academia">

    <application
        android:allowBackup="true"
        android:icon="@drawable/muscle"
        android:label="@string/VaiSaradão"
        android:roundIcon="@drawable/muscle"
        android:supportsRtl="true"
        android:theme="@style/VaiSaradãoTema">
        <activity
            android:name=".TelaCadastro"
            android:theme="@style/VaiSaradãoTema">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TelaDadosCadastrados" />
        <activity android:name=".ListagemAluno" />
        <activity android:name=".TelaEditar" />
    </application>

</manifest>